<div class="flex flex--col gap-xs">
    <% basicParams.forEach(def=> { %>
        <div class="flex flex--between flex--center p-sm border rounded bg-blue-accent-muted">
            <label for="<%= def.short_name %>" class="text-base font-medium">
                <%= def.name %>
            </label>
            <div class="grid grid--2 grid--items-center gap-xs"> <input type="text" id="<%= def.short_name %>"
                    name="<%= def.name %>" class="measurement-input border rounded p-xs" inputmode="decimal"
                    pattern="[0-9]*\.?[0-9]*" maxlength="5" data-min="<%= def.min_value || '' %>"
                    data-max="<%= def.max_value || '' %>" data-measurement-key="<%= def.measurement_key %>"
                    data-decimal-input />
                <span class="text-sm text-muted">
                    <%= def.unit %>
                </span>
            </div>
        </div>
        <% }) %>
</div>